# Dependencies
node_modules/
yarn.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
*.log
reports/
.nyc_output/
assets/instrumented/

# OS
Thumbs.db
.DS_Store

# Misc
.prettierrc
.eslintrc.json
